<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181084131359-tq68a50ejbaph52a0lrpqq3p916qq7f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181084131359-tq68a50ejbaph52a0lrpqq3p916qq7f7</string>
	<key>API_KEY</key>
	<string>AIzaSyAkEkwHuCiUWHKYD21fS4XRgNLdmk71I00</string>
	<key>GCM_SENDER_ID</key>
	<string>181084131359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yojacnidev.quizzie.dev</string>
	<key>PROJECT_ID</key>
	<string>quizzie-dev-21313</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzie-dev-21313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181084131359:ios:4c9a60148f5bc2e816c52a</string>
</dict>
</plist>